* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 3em;
    text-align: center;
    background: hsla(149, 54%, 75%, 1);

    background: linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#bfbb7e", endColorstr="#f2ded0", GradientType=1 );
    }
}

.file-upload {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#source {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

form {
    margin-top: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3d8440;
}
