* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --color1 : #bfbb7e;
    --color2 : 	#bdbf65;
    --color3: #f2ded0;
    --color4: #73655d;
    --color5: #d99b77;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.line {
    border: 0;
    height: 7px;
    background-color: #658c5e;
    margin: 20px auto;
    width: 80%;
}

.result-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%; /* Adjusted width */
}

.result-section1 {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjusted width */
}


.result-section h2 {
    margin-top: 0;
}


h1 {
    padding-top: 40px;
    font-size: 3em !important;
    text-align: center;
}

body {
    padding-left: 10em;
    padding-right: 10em;
    background: hsla(149, 54%, 75%, 1);

    background: linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(149, 54%, 75%, 1) 0%, hsla(206, 71%, 73%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#bfbb7e", endColorstr="#f2ded0", GradientType=1 );
    }

h2 {
    padding-top: 30px;
}

#overall {

    text-align: center;
}

.open-modal-button {
    background-color: #8ba888;
    position: absolute;
    margin-right: 30em;
    right: 0;
    z-index: 1;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-modal-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #6e7f6c;
}

.modal {
    z-index: 10;
}

#overlay {
    z-index: 2;
}